<div class="container">
  <div class="jumbotron" id="jumbotron_search" align="center">
    <h1>South Lake Tahoe<br>Vacation Home Rental Validator</h1>
    <h3>Renting a vacation home in South Lake Tahoe? Make sure you don't get scammed!</h3>
    <p>Before you rent, search the Vacation Home Rental database for the property address or contact information of the person you're communicating with to make sure it's either the homeowner or rental manager.</p>
    <div class="row" id="home_search">
      <div class="col-md-8 col-md-offset-2 panel panel-default">
        <div class="panel-body">
          <%= form_tag(vacation_homes_path, :method => "GET", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], class: "search_field", placeholder: "Property address or contact info of the person you're communicating with" %>
            <%= submit_tag "Search", class: "btn btn-primary btn-lrg search_btn", :name => nil %>
          <% end %>
          <%= render 'layouts/alerts' %>
          <!--TO DO - implement messaging for matching of info instead of going to a page with the search result -->
        </div>
      </div>
    </div>
  </div>
</div>
