// Place all the styles related to the VacationHomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: image-url('lake_bg.jpg');
  background-size: cover;
}

#jumbotron_search {
  position: relative;
  top: 10px;
  background: rgba(0, 0, 0, 0.5);

  h1, h3, p {
    color: white;
  }

}

#home_search {
  padding-top: 50px;
}

.search_field {
  width: 500px;
  height: 34px;
}

.search_btn {
  float: right;
}

.index_page {
  background-color: white;
  padding: 10px 20px 10px 20px;
}
